source [find interface/cmsis-dap.cfg]

# 选择接口为SWD
transport select swd

# 不依赖 RESET 线，使用软件复位
reset_config none

# 选择目标芯片
source [find target/stm32f4x.cfg]

# 放在 target cfg 之后，防止被覆盖
adapter speed 500

# 没有连接 RESET 线，通过 SWD 发软件复位
cortex_m reset_config sysresetreq

# 上电后立即通过 SWD 发送 halt，防止固件跑飞导致 AP 不可访问
$_TARGETNAME configure -event examine-end {
    halt
}

# 上电后立即通过 SWD 发送 halt，防止固件跑飞导致 AP 不可访问
$_TARGETNAME configure -event examine-end {
    halt
}